body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #23158f, #060418);
}

.logo-container {
    text-align: center;
    margin-bottom:  10px;  
  }

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #f4f5fd;
}

form {
    display: grid;
    gap: 15px;
    color: #e6f1e7;
}

label {
    font-weight: bold;
    background-color: #0c1c5e;
    padding: 8px; 
    border-radius: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2724f5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #172b9e;
}